
{{> header }}
{{> menu }}

<h1>Pàgina Principal</h1>

<h2>Movies (Primeres 5)</h2>
<ul>
  {{#each movies}}
    <li>
      <strong>{{title}}</strong> ({{release_year}})<br>
      Actors: {{actors}}
    </li>
  {{/each}}
</ul>

<h2>Categories (Primeres 5)</h2>
<ul>
  {{#each categories}}
    <li>{{name}}</li>
  {{/each}}
</ul>

{{> footer }}